@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка при обработке вашего запроса.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    Переключение в среду <strong>Разработки</strong> отобразит более подробную информацию об произошедшей ошибке.
</p>
<p>
    <strong>Среду разработки не следует включать для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации из исключений конечным пользователям.
    Для локальной отладки включите среду <strong>Разработки</strong>, установив переменную среды <strong>ASPNETCORE_ENVIRONMENT</strong> в значение <strong>Development</strong>
    и перезапустив приложение.
</p>
