@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Перейти к списку марок автомобилей</p>
    <a asp-controller="Brands" asp-action="Index" class="btn btn-primary">Список марок</a>
</div>
